<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
    <title>Password Reset</title>
  </head>
  <body>
    <h2> Reset Your Password</h2>
    <p>Please enter your email address. you will receive a link to create a new password.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send Reset Email</button>
    </form>
    <br>
    <a href="{% url 'login' %}" >Back to Login</a>
  </body>
</html>